# Copy this file to .env and fill with your Firebase config
VITE_FIREBASE_API_KEY=AIzaSyBfBCUIVMMS2xvL5gBV9D33y-3R7QOn3hY
VITE_FIREBASE_AUTH_DOMAIN=sav-workshop.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sav-workshop
VITE_FIREBASE_STORAGE_BUCKET=sav-workshop.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=45270989042
VITE_FIREBASE_APP_ID=1:45270989042:web:65cbabb25d56063e41f86b